.about {
  padding: 7%;
  margin-top: 2%;
  display: flex;
  img {
    opacity: .9;
  }
}

.portrait {
  width: 40%;
  opacity: 0.9;
}

.about-info {
  padding-left: 5%;
  text-align: center;
  width: 60%;
}

// layered text
.about .title-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.about .front-title, .about .back-title {
  position: absolute;
  display: inline;
}

.about .back-title {
  font-family: $cursive;
  font-size: 150px;
  color: $light-moon;
  text-transform: lowercase;
  opacity: .4;
  top: -75px;
}


