/* STYLE RESETS */
ul,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $dark;
}

img {
  width: 100%;
  display: block;
}


// BASE STYLES
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: $body;
  color: $dark;
  background-color: $snow;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  font-family: $heading;
  text-transform: uppercase;
}

h1 {
  font-size: 50px;
  letter-spacing: 2px;
}

h1 ~ h2 {
  font-size: 30px;
  font-family: $body;
}

// layered text styles
.title-container {
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.front-title, .back-title {
  position: absolute;
  display: inline;
}

.back-title {
  font-family: $cursive;
  font-size: 150px;
  color: $moon;
  text-transform: lowercase;
  opacity: .4;
  top: -75px;
  right: 108px;
}

h3 {
  font-size: 24px;
  letter-spacing: 3px;
  // margin: 40px 0;
}

h4 {
  font-size: 18px;
  letter-spacing: 4px;
  margin: 20px 0;
}

p {
  font-size: 18px;
  line-height: 2em;
}