.mobile-nav, .burg {
  display: none;
}

// MEDIA QUERY
@media (max-width: 800px) {

  // hiding desktop nav
  .desktop-nav ul {
    display: none;
  }

  .burg {
    display: block;
    font-size: 25px;
    position: absolute;
    z-index: 1;
    right: 25px;
    top: 25px;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }

  .mobile-nav {
    visibility: hidden;
    background-color: $snow;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    height: 300px;
    align-items: center;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: left;
  }


  .clicked {
    display: block;
    background-color: red;
  }

}
