.contact {
  background-image: url(../assets/contact-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  overflow-x: hidden;
  padding-bottom: 50px;
  h3 {
    padding-top: 100px;
    padding-bottom: 20px;
  }
}

.contact.wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}

.socials {
  padding-top: 270px;;
  ul {
  display: flex;
  justify-content: center;
  }

  a {
    padding: 15px;
    font-size: 50px;
    &:hover {
      color: $wolf;
      transition: .4s;
    }
  }
}

.resume {
  font-size: 20px;
}

.email a {
  padding: 12px 20px;
  width: 150px;
  margin: 2%;
  background-color: $snow;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  border: 1px solid $dark;
  transition: .3s;
  &:hover {
    box-shadow: 0px 0px 0px 2px $dark;
  }
}

.contact .title-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.contact .back-title {
 
  color: $light-snow2;
  top: 22px;
}

.contact-info p {
  padding: 2% -2% 0% 5%;
}