.contact {
  background-image: url(../assets/contact-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  text-align: center;
  h3 {
    padding-top: 100px;
    padding-bottom: 20px;
  }
}

.contact.wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}

.socials {
  padding-top: 240px;;
  ul {
  display: flex;
  justify-content: center;
  }

  a {
    padding: 15px;
    font-size: 50px;
  }
}

.resume {
  font-size: 20px;
}

.email a {
  padding: 12px 20px;
  width: 150px;
  margin: 2%;
  background-color: $snow;
  text-decoration: none;
  display: inline-block;
  &:hover {
      background-color: $sage;
    }
}

.contact .title-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.contact .back-title {
 
  color: $snow;
  top: 22px;
}

.contact-info p {
  padding: 50px 30px 0px 61px;
}