header {
  height: 100vh;
  background-image: url(../assets/leaf-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // background-attachment: fixed;
}


nav ul {
  display: flex;
  justify-content: end;
  li {
    padding-top: 20px;
    padding-left: 10px;
    text-transform: uppercase;
  }
}

.intro {
  position: relative;
  top: 280px;
  text-align: center;
}

.angle-right {
  width: 55%;
  height: 100px;
  bottom: -100px;
  position: absolute;
  background: $snow;
  right: 0;
  transform: scale(1, 1) translate(4px, -50px) rotate(-4deg);
}

.angle-left {
  width: 55%;
  height: 100px;
  bottom: -100px;
  position: absolute;
  background: $snow;
  transform: scale(1, 1) translate(-4px, -50px) rotate(4deg);
}