@media (max-width: 800px) {

  // HEADER STYLES
   nav {
    justify-content: end;
    display: flex;
    ul {
      flex-direction: column;
    }
  }

  .intro.title-container {
    right: 70px;
    z-index: -1;
  }

  // ABOUT SECTION
  .about {
    flex-direction: column;
  }
  .portrait {
    width:  100%;
  }
  
  .about-info {
    width: 100%;
  }

  .about-info {
    margin-top: 80px;
  }


  // SKILLS SECTION
  .skills {
    height: 100%;
    padding: 5% 0%;
  }

  .skills .title-container {
    margin-top: 50px
  }


  // PROJECT SECTION
  .projects .title-container {
    margin-bottom: 30px;
  }

  .project {
    flex-direction: column-reverse;
    padding: 6% 0%;
  }

  .one, .two, .three, .four {
    margin: 15% 0%;
    background-color: white;
    }

  .desc {
    width: 100%;
  }
}

@media (max-width: 645px) {

  .intro h1 {
    font-size: 42px;
  }

  .intro h3 {
    font-size: 22px;
  }

  .intro.title-container {
    right: 35px;
  }

  .intro .front-title {
    left: 85px;
    top: 100px;
    width: 100%;
  }

  .intro .back-title {
    font-size: 115px;
    top: 45px;
  }

  // ABOUT STYLES 
  .about {
    margin-bottom: 5%;
  }


  // SKILLS STYLES
  .skills ul li {
    width: 26%;
  }
}

@media (max-width: 515px) {
  .mobile-display ul li {
    text-transform: uppercase;
    padding: 15%;
    font-size: 30px;
  }

  .intro.title-container {
    position: relative;
    text-align: right;
    width: 90%;
  }

  .intro .front-title {
    left: 40%;
    top: 100px;
    width: 60%;
  }

  .intro .back-title {
    display: none;
  }

  .desc span {
    width: 80%;
  }

  .skills ul li {
    width: 35%;
  }

  .skills li {
    margin: 3% 0%;
  }

  .socials {
    padding-top: 290px;
  }
}