// COLOURS
$dark: #3f382e;
$snow: #f8f7f6;
$lilac: #ededed;
$moon: #e3d9cf;
$wolf: #b2aaa6;
$sage: #b0b3a2;



// FONTS
$heading: 'Cormorant', serif;
$body: 'Josefin Sans', sans-serif;
$cursive: 'Mrs Saint Delafield', cursive;
