// COLOURS
$dark: #3f382e;
$snow: #f8f7f6;
$lilac: #ededed;
$moon: #e3d9cf;
$wolf: #b2aaa6;
$sage: #b0b3a2;

$light-moon: #f0ebe6;
$light-snow: #f6f6f4;
$light-snow2: #f6f6f4c9;
$light-wolf: #e3e0dd;




// FONTS
$heading: 'Cormorant', serif;
$body: 'Josefin Sans', sans-serif;
$cursive: 'Mrs Saint Delafield', cursive;
