.projects {
  text-align: center;
  h3 {
    padding-top: 60px;
  }
}

.project {
  // width: 50%;
  display: flex;
}

.two, .four {
  flex-direction: row-reverse;
} 

.desc {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btns {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  a {
    padding: 4%;
    width: 150px;
    margin: 2%;
    background-color: $lilac;
  }
}

.preview {
  width: 40%;
  padding: 3%;
  width: 80%;
  margin: 0 auto;
  opacity: 0.8;
  img {
    border-radius: 25px;
  }
}

span {
  color: $wolf;
  font-weight: bold;
}
