.skills {
  background-image: url(../assets/skills-img.png);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.skills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  padding: 3%;
  li {
    width: 230px;
    height: 130px;
    text-transform: uppercase;
    text-align: center;
    i {
      font-size: 70px;
      padding: 5%;
    }
  }
}

.fas.fa-terminal, .fas.fa-code-branch {
  font-size: 60px;
}