html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* STYLE RESETS */
ul,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #3f382e;
}

img {
  width: 100%;
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Josefin Sans", sans-serif;
  color: #3f382e;
  background-color: #f8f7f6;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  font-family: "Cormorant", serif;
  text-transform: uppercase;
}

h1 {
  font-size: 50px;
  letter-spacing: 2px;
}

h1 ~ h2 {
  font-size: 30px;
  font-family: "Josefin Sans", sans-serif;
}

h3 {
  font-size: 24px;
  letter-spacing: 3px;
}

h4 {
  font-size: 20px;
  letter-spacing: 4px;
  margin: 20px 0;
}

p {
  font-size: 18px;
  line-height: 2em;
}

.title-container {
  position: relative;
}

.front-title, .back-title {
  position: absolute;
  display: inline;
}

.back-title {
  font-family: "Mrs Saint Delafield", cursive;
  font-size: 150px;
  text-transform: lowercase;
}

header {
  height: 100vh;
  background-image: url(../assets/rubberplant-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav ul li {
  padding-top: 20px;
  padding-left: 10px;
  text-transform: uppercase;
}

nav ul li:hover {
  font-weight: bolder;
}

nav ul a {
  padding: 0 10px;
}

.intro.title-container {
  position: absolute;
  top: 200px;
  right: 195px;
}

.intro .front-title, .intro .back-title {
  position: absolute;
}

.intro .back-title {
  font-size: 140px;
  color: #f6f6f4;
  opacity: .4;
  top: 34px;
  left: 101px;
}

.intro .front-title {
  top: 103px;
  left: 95px;
}

.angle-right {
  width: 55%;
  height: 100px;
  bottom: -100px;
  position: absolute;
  background: #f8f7f6;
  right: 0;
  -webkit-transform: scale(1, 1) translate(4px, -50px) rotate(-4deg);
          transform: scale(1, 1) translate(4px, -50px) rotate(-4deg);
}

.angle-left {
  width: 55%;
  height: 100px;
  bottom: -100px;
  position: absolute;
  background: #f8f7f6;
  -webkit-transform: scale(1, 1) translate(-4px, -50px) rotate(4deg);
          transform: scale(1, 1) translate(-4px, -50px) rotate(4deg);
}

footer {
  text-align: center;
}

.about {
  padding: 7%;
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about img {
  opacity: .9;
}

.portrait {
  width: 40%;
  opacity: 0.9;
}

.about-info {
  padding-left: 5%;
  text-align: center;
  width: 60%;
}

.about .title-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

.about .front-title, .about .back-title {
  position: absolute;
  display: inline;
}

.about .back-title {
  font-family: "Mrs Saint Delafield", cursive;
  font-size: 150px;
  color: #f0ebe6;
  text-transform: lowercase;
  opacity: .4;
  top: -75px;
}

.skills {
  background-image: url(../assets/skills-img.png);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.skills .title-container {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.skills .back-title {
  color: #f6f6f4;
  opacity: .8;
  top: -70px;
}

.skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 3%;
}

.skills ul li {
  width: 22%;
  height: 130px;
  text-transform: uppercase;
  text-align: center;
}

.skills ul li i {
  font-size: 70px;
  padding: 5%;
}

.fas.fa-terminal {
  font-size: 60px;
}

.projects {
  text-align: center;
  padding: 60px 0px;
}

.projects h3 ~ p {
  padding-bottom: 65px;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0px;
}

.two, .four {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.desc {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.desc p {
  padding-top: 10px;
}

.desc a {
  text-decoration: underline;
}

.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.btns a {
  padding: 10px;
  width: 150px;
  margin: 2%;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
  border: 1px solid #3f382e;
}

.btns a:hover {
  -webkit-box-shadow: 0px 0px 0px 2px #3f382e;
          box-shadow: 0px 0px 0px 2px #3f382e;
}

.preview {
  width: 40%;
  padding: 3%;
  width: 80%;
  margin: 0 auto;
  opacity: 0.8;
}

span {
  color: #b2aaa6;
  font-weight: bold;
}

.projects .title-container {
  width: 100%;
  height: 100px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.projects .back-title {
  color: #e3e0dd;
  opacity: .3;
  top: -74px;
}

.projects .title-container p {
  padding-top: 50px;
  z-index: 1;
}

.currently {
  padding: 60px 0px;
}

.currently .back-title {
  color: #e3e0dd;
  opacity: .3;
  top: -75px;
}

.currently .title-container {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.learning {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.course {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.course h4 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: none;
  padding-top: 20px;
}

.course h4 a {
  text-decoration: underline;
}

.course-info {
  width: 60%;
  padding-right: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.course-info span {
  font-style: italic;
  color: #3f382e;
}

.links {
  margin-top: 20px;
}

.links h5 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}

.links a {
  text-decoration: underline;
}

.course-img {
  width: 40%;
}

.contact {
  background-image: url(../assets/contact-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  text-align: center;
  overflow-x: hidden;
}

.contact h3 {
  padding-top: 100px;
  padding-bottom: 20px;
}

.contact.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.socials {
  padding-top: 270px;
}

.socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials a {
  padding: 15px;
  font-size: 50px;
}

.socials a:hover {
  color: #b2aaa6;
  -webkit-transition: .4s;
  transition: .4s;
}

.resume {
  font-size: 20px;
}

.email a {
  padding: 12px 20px;
  width: 150px;
  margin: 2%;
  background-color: #f8f7f6;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  border: 1px solid #3f382e;
  -webkit-transition: .3s;
  transition: .3s;
}

.email a:hover {
  -webkit-box-shadow: 0px 0px 0px 2px #3f382e;
          box-shadow: 0px 0px 0px 2px #3f382e;
}

.contact .title-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.contact .back-title {
  color: #f6f6f4c9;
  top: 22px;
}

.contact-info p {
  padding: 2% -2% 0% 5%;
}

@media (max-width: 800px) {
  nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro.title-container {
    right: 70px;
    z-index: -1;
  }
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portrait {
    width: 100%;
  }
  .about-info {
    width: 100%;
  }
  .about-info {
    margin-top: 80px;
  }
  .skills {
    height: 100%;
    padding: 5% 0%;
  }
  .skills .title-container {
    margin-top: 50px;
  }
  .projects .title-container {
    margin-bottom: 30px;
  }
  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 6% 0%;
  }
  .one, .two, .three, .four {
    margin: 15% 0%;
    background-color: white;
  }
  .desc {
    width: 100%;
  }
  .course {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
  .course-info, .course-img {
    width: 100%;
  }
  .course-info {
    margin-top: 20px;
    padding: 0;
  }
}

@media (max-width: 645px) {
  .intro h1 {
    font-size: 42px;
  }
  .intro h3 {
    font-size: 22px;
  }
  .intro.title-container {
    right: 35px;
  }
  .intro .front-title {
    left: 85px;
    top: 100px;
    width: 100%;
  }
  .intro .back-title {
    font-size: 115px;
    top: 45px;
  }
  .about {
    margin-bottom: 5%;
  }
  .skills ul li {
    width: 26%;
  }
}

@media (max-width: 515px) {
  .mobile-display ul li {
    text-transform: uppercase;
    padding: 15%;
    font-size: 30px;
  }
  .intro.title-container {
    position: relative;
    text-align: right;
    width: 90%;
  }
  .intro .front-title {
    left: 40%;
    top: 100px;
    width: 60%;
  }
  .intro .back-title {
    display: none;
  }
  .desc span {
    width: 80%;
  }
  .skills ul li {
    width: 35%;
  }
  .skills li {
    margin: 3% 0%;
  }
  .btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .socials {
    padding-top: 290px;
  }
}

.mobile-display, .burg {
  display: none;
}

@media (max-width: 800px) {
  .desktop-nav ul {
    display: none;
  }
  .burg {
    display: block;
    font-size: 30px;
    position: absolute;
    z-index: 1;
    right: 25px;
    top: 25px;
  }
  .burg:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  .ham-btn ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .mobile-display {
    background-color: #f8f7f6;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: none;
  }
  .clicked {
    display: block;
  }
}
